{{#if formresponse.rockchoice}}


<div id="rockRes">

<p class="biggertext">
{{formresponse.bandName}}
</p>

<p>LIVE!</p>


<p>at</p>

<p class="locationtext">
{{formresponse.setVenue}} 
{{formresponse.customVenue}} 
</p>

<p class="biggertext">
{{formresponse.gigdate}}
</p>

</div>

{{/if}}







{{#if formresponse.countrychoice}}


<div id="countryRes">

<p class="biggertext">
{{formresponse.bandName}}
</p>

<p>LIVE!</p>

<p>at</p>


{{formresponse.setVenue}} 
{{formresponse.customVenue}}  
 

{{formresponse.gigdate}}

</div>

{{/if}}




{{#if formresponse.popchoice}}


<div id="popRes">

<p class="biggertext">
{{formresponse.bandName}}
</p>


<p>LIVE!</p>
   
<p>at</p>

<p class="biggertext">
{{formresponse.setVenue}} 
{{formresponse.customVenue}}  
</p>

<p class="biggertext">
{{formresponse.gigdate}}
</p>

</div>

{{/if}}








{{#if formresponse.metalchoice}}


<div id="metalRes">

<p class="biggertext">
{{formresponse.bandName}}
</p>

<p>LIVE!</p>
   

<p>at</p>

<p class="biggertext">
{{formresponse.setVenue}} 
{{formresponse.customVenue}} 
</p>

<p class="biggertext">
{{formresponse.gigdate}}
</p>

</div>

{{/if}}






