  <div id="mainForm">
    <div>
        <img src="images/topimageedit.jpg" width="100%" height="100%">
    </div>

     <h3>Promote your next show or create the perfect dream gig!</h3>
    <form action="/formBand" method="POST">

        <label for="bandName">Band Name:
            <input type="text" name="bandName" id="bandName" value="band name here">
        </label>
        <br>
        <br>


        <label for="setVenue">Select a Venue: 
                           <br>
                            <select multiple class="form-control" name="setVenue" id="setVenue">
                                <option value="Madison Square Garden">Madison Square Garden</option>
                                <option value="The Fillmore">The Fillmore</option>
                                <option value="The Rat">The Rathskeller</option>
                                <option value="Mom's Basement">Mom's Basement</option>
                            </select>
</label>
        
        <br>
        <br>
        
        <label for="customVenue">Or name venue here:
            <br>
            <textarea name="customVenue" rows="2" cols="30" id="message">Replace text with venue name OR delete this text...
            </textarea>
        </label>

        <br>
        <br>
        
        <label for="gigdate">When is the gig?
            <br>
            <textarea name="gigdate" rows="2" cols="30" id="gigdate">(Ex.: TONIGHT, TOMORROW) OR delete this text...
            </textarea>
        </label>

        <br>
        <br>

               <h4>Genre:</h4>

                            <div class="radio">
                                <label for="rock">
                                    <input type="radio" name="rockchoice" value="rock" id="rock"> Rock
                                </label>
                            </div>
                            <div class="radio">
                                <label for="metal">
                                    <input type="radio" name="metalchoice" value="metal" id="metal"> Metal
                                </label>
                            </div>
                            <div class="radio">
                                <label for="country">
                                    <input type="radio" name="countrychoice" value="country" id="country"> Country
                                </label>
                            </div>
                             <div class="radio">
                                <label for="pop">
                                    <input type="radio" name="popchoice" value="pop" id="pop"> Pop
                                </label>
                            </div>

        <br>
       

    


        <input type="submit" value="Submit">

    </form>
</div>